*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container-header {
    max-width: 100%;
    padding: 0;    
}

.principal{   
    margin: 0;
    padding: 0;
    max-width: 100vw;
    height: 100vh;
}

.country-card {
    min-height:300px;    
    min-width:250px; 
}
.country-card-content{
    border: none;
    box-shadow: 0 3px 5px black;
    box-shadow: 0 5px 15px hsl(0, 0%, 52%);
}
.flag {
    height: 40%;  
    width: 100%;  
    object-fit: cover;    
}
.country-card-text{
    height: 200px;
    width: 100%;
    color: hsl(0, 0%, 52%);
    padding: 10%;
}
.country{
    padding-bottom: 10%;
    font-size: 20px;
}
.country-info{
    display: flex;
    flex-direction: column;
    height: 80px;
    align-content: space-between;
    justify-content: space-between;
}

/* TEMPLATE PRUEBA */
.darkmode-toggler{
    width: 100px;
    height: 50px;
    background-color: black;
    margin-right: 20px;
}

