*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container-header {
    max-width: 100%;
    padding: 0;    
}

.principal{   
    margin: 0;
    padding: 0;
    max-width: 100vw;
    height: 100vh;
}

/* TEMPLATE PRUEBA */
.darkmode-toggler{
    width: 100px;
    height: 50px;
    background-color: black;
    margin-right: 20px;
}

